/*section {
    color: #32325c;
  }
  .echo {
 
    background-size: cover;
    background-attachment: fixed;
    color: black;
    padding: 10rem 0;
  }
  footer{
      background-color: #32325c;
  }
  .footer{
      padding-top: 5rem;
      padding-bottom: 10rem;
      color: black;
  }
  .footer ul{
      list-style: none;
  }
  .footer ul li{
      margin-top: 0.5rem;
  }
  .footer ul li a{
      text-decoration: none;
      color: white;
  } 
  .footer ul li a{
      text-decoration: none;
      color: white;
  } 
  .footer ul li a:hover{
      color:#41E096 ;
  } 
  .footer ul li .active{
      color:#41E096 ;
  } */
  section {
    color: #32325c;
    
  }
  
  .echo {
    /* background: url("../Dataset/forest.jpg") no-repeat center; */
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding: 10rem 0;
  }
  
  footer {
  padding: 30px;
  }
  
  .footer {
    padding-top: 5rem;
    padding-bottom: 10rem;
    color: white;
  }
  
  .footer ul {
    list-style: none;
  }
  
  .footer ul li {
    margin-top: 0.5rem;
  }
  
  .link {
    text-decoration: none;
    color: black; /* Set a darker color for text */
  }
  
  .link:hover {
    color: #41E096;
  }
  .link:hover {
    text-decoration: underline; /* Add underline on hover */
    color: #41E096; /* Change text color on hover */
  }

  .footer ul li .active {
    color: #41E096;
  }
  